.validator-error input{
  border: 1px solid red;
  border-radius: 2px;
  outline: none;
}

.col{
  width: 50%;
  float: left;
  position: relative;
}
.form-control{
  display: block;
  width:100%;
}

.validator-error::after {
  content: 'xxx';
  position: absolute;
  z-index: 100;
  right: 3px;
  top: 2px;
}

.validator-error:hover::before , .validator-error:active::before , .validator-error:focus::before{
  content:'omg';
  position: absolute;
  right: -100px;
}

.validator-success {
  border: 1px solid green;
  outline: none;
}
